<div class="form-group">
    <div class="checkbox col-md-8 col-md-offset-4">
        <label>
            {{input type="checkbox" name=property placeholder=label required=required checked=(mut (get model property))}}
            {{label}}
        </label>
    </div>
</div>
