<div class="col-md-8 offset-md-4">
    <div class="form-check">
        <label class="custom-control custom-checkbox">
            {{input class="custom-control-input" type="checkbox" name=property placeholder=label required=required checked=(mut (get model property))}}
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">
              {{label}}
            </span>
        </label>
    </div>
</div>
