<div class="form-group row">
  <label for="{{property}}" class="control-label col-md-4 text-right">{{label}}</label>
  <div class="col-md-8">
    {{input type="file" required=required accept=accept}}
  </div>
</div>
