<div class="form-group">
  <label for="{{property}}" class="control-label col-md-4">{{label}}</label>
  <div class="col-md-8">
    {{bootstrap-datepicker autoclose=true format="yyyy-mm-dd" name=property placeholder=label class="form-control" required=required value=(mut (get model property))}}
  </div>
</div>
