<!-- Main map -->
{{#leaflet-map lat=lat lng=lng zoom=zoom}}
  {{tile-layer url="https://api.mapbox.com/styles/v1/sirnapa/cjad3e8b54vjz2rnmbew04lbw/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2lybmFwYSIsImEiOiJjajczajFwcnowZmk2MndzMHk0YjM4Z3ZzIn0.yT3ExDYvc8c6_Dbn-zJ6Zg"}}

  {{#each markers as |marker|}}
      {{#marker-layer location=marker.location}}
        {{#if (or marker.title marker.lines)}}
            {{#popup-layer}}
              <h4>{{marker.title}}</h4>
              {{#each marker.content as |line|}}
                {{{line}}}<br>
              {{/each}}
            {{/popup-layer}}
        {{/if}}
      {{/marker-layer}}
  {{/each}}

{{/leaflet-map}}
