/*
 * Buttons
 */

.btn{
    &.btn-new{
        @extend .btn-lg;
        @extend .btn-primary;
    }

    &.btn-back{
        @extend .btn-lg;
        width: 40px;
        margin-top: 5px;
        margin-right: 18px;
        float: left;
        position: relative;
        overflow: hidden;
        color: transparent;

        &:before{
            content:"\A";
            border-style: solid;
            border-width: 12px 24px 12px 0;
            border-color: transparent $color-black transparent transparent;
            position: absolute;
        }
    }

    &.btn-save{
        @extend .btn-lg;
        @extend .btn-primary;
        cursor: pointer;
    }

    &.btn-facebook{
        @extend .btn-info;
        background: $color-facebook;
    }
}
