/*
 * Header
 */

header{
    margin: 30px 0;

    @include media-breakpoint-down(xs) {
        padding: 0 !important;
        margin-top: -5px;
    }

    h3{
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }

    .nav-pills{
        float: right;

        @include media-breakpoint-down(xs) {
            width: 100%;
            float: none;
            margin-top: 0;
            margin-bottom: 40px;
            padding-top: 10px;
            background: $color-gray;
        }

        li{
            .locale-name{
                display: none;
            }
        }
    }
}

.nav-admin{
    padding: 15px 0;
    @extend .bg-primary;

    a:not(:hover){
        color: $color-white !important;
    }

    a:hover{
        background: $color-white;
    }
}
