<div class="card card-new">
    <div class="card-body">
        <div>
            {{#link-to "laboratories.index" tagName="a" class="btn btn-back"}}
              {{t "button.back"}}
            {{/link-to}}
            <h1 class="card-title">
                {{t "laboratory.title.new"}}
            </h1>
        </div>
        {{partial "laboratories/form"}}
    </div>
</div>
