<div class="card card-new">
    <div class="card-body">
        <div>
            {{#link-to "stores.index" tagName="a" class="btn btn-back"}}
              {{t "button.back"}}
            {{/link-to}}
            <h1 class="card-title">
                {{t "store.title.new"}}
            </h1>
        </div>
    </div>
    {{partial "stores/form"}}
</div>
