<section class="not-found">
  <div class="background"></div>
  <div class="container">
      <h2 class="text-center">{{t "not-found.title"}}</h2>
      <p class="lead text-center">
      {{t "not-found.content"}}
      </p>
  </div>
</section>
